.form {
	text-align: center;
	width: 450px;
	margin: 8em auto;
	padding: 2em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.header
{
	font-weight: 300;
	margin-bottom: 1em
}

.textfields
{
	padding-left: 1em;
	padding-right: 1em;
}

.form-control
{
	margin-bottom: 1.5em;
}

.btn
{
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 2em
}
